.instance-table-header {
  border-radius: 3px;
}

.instance-table-header-cell {
  width: 19%;
  height: 100%;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  border: 2px solid #e8e9e9;
}

.instance-table-info-cell-is-inner-shadow {
  box-shadow: inset 1px 4px 5px -2px rgb(0 0 0 / 10%);
}

.instance-table-info-cell-is-name {
  width: 24%;
  padding: 6px;
  font-size: 18px;
  line-height: 18px;
  color: #13aa52;
  background-color: #effef6;
}

.instance-table-info-cell {
  border-right: 1px solid #e8e9e9;
  width: 19%;
  padding: 10px 28px 0 0;
  display: inline-block;
  text-align: right;
}