body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

th.MuiTableCell-root.MuiTableCell-head{
  border-bottom: 2px solid;
}
td.MuiTableCell-root.MuiTableCell-body{
  border: none;
}
/* button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.makeStyles-button-5.MuiButton-containedPrimary.MuiButton-containedSizeLarge.MuiButton-sizeLarge{
  float: right;
  background: #66b1ff;
  border-color: #66b1ff;
  color: #FFF;
} */
tr:hover{
  background-color: #66b1ff !important;
}


.MuiTableCell-root{
  padding: 8px !important;
}

@media(min-width:320px) and (max-width:768px){
  .MuiGrid-container{
      width: unset !important;
      /* margin: 0 20px !important; */
  }
}

.MuiPaper-elevation1{
  box-shadow:0 2px 12px 0 rgb(0 0 0 / 10%) !important;
}